/*
portfolio.css
Jeff Bulick
07.21.2016
This cascading styles sheet is the external style sheet 
for portfolio.html of bulick-portfolio.
*/

/******* Title *****************/
#main-title h1{
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 10px;
    font-size: 26px;
    color: #3FB2BF;
    letter-spacing: 0.1em;
}
/*******************************/

/******* Columns and Divs for pictures *****************/

#left-column {
    float: left;
    width: 50%;
}
#right-column {
    margin-left: 50%;
    width: 50%;
}
#picsFTB {
    
}
/********************************/

/******* Content *****************/
#content {
    margin: 0px;
}
ul {
    padding-left: 0;
}
#content ul {
    list-style-type: none;
    font-size: 18px;
    color: #333;
    font-family: 'Cardo', serif; 
}
#content ul a {
    margin-left: 20px;
    font-size: 16px;
    line-height: 2em;
    color: #333;
    text-decoration: none;
    transition-property: color;
    transition-duration: 0.33s;
    
    background-color: #BFB8AA;
    border-radius: 25px;
    padding: 5px 10px 5px 10px;    
}
#content ul a:hover {
    cursor: pointer;
    color: #3FB2BF;
    text-decoration: none;
    transition-property: color;
    transition-duration: 0.33s;
}
#content h1{
    font-size: 20px;
}
#contact-block {
    width: 100%;
    min-width: 200px;
    margin-left: 60px;
    margin-bottom: 40px;
    float: left;
}
#test-side {
    float: right;
    padding-right: 5%;
    margin-bottom: 100px;
}
.portrait {
    height: 400px;
    border: 2px #333 solid;
    margin-bottom: 40px;
}
.landscape {
    height: 300px;
    border: 2px #333 solid;
    margin-bottom: 40px;
}
#pano-title {
    
}
.pano {
   width: 100%;
   border-bottom: 2px #333 solid;
}
.pic-div {
    width: 50%;
    float: left;
    overflow: hidden;
}
#offput {
    transform: rotate(90deg);
}
figure{
    margin: 0;
}
figcaption {
    margin-left: 0;
    font-weight: 400;
    font-size: 16px;
}
/********************************/