<!-- 
temp.html
Jeff Bulick
07.13.2016
Bare template page with header footer for my portfolio.
-->

<!DOCTYPE html>
<html lang="en-US">
    
<!-- This is meta data about the site -->
<head>
    <title> Jeff Bulick - "INSERT TITLE HERE" </title>
    <meta name="description" content="Personal Website">
    <meta charset="UTF-8">
    <meta name="keywords" content="Jeff Bulick">
    <meta name="author" content="Jeff Bulick">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="jb_icon.png">
    <link rel="stylesheet" href="../main-theme.css">  
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>  
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="../navbar-menu.js" type="text/javascript"></script>    
</head>

    <body>
        <div id="container">
            
            <!-- banner -->
            <div id="banner">
                <ul class="navbar">
                    <li id="menu-button" class="list" onclick="dropMenu()"><a>MENU</a></li>
                    <li class="logo"><a href="index.html"><img alt="home button logo" src="../Media/jb_icon.png" class="fade"></a></li>
                </ul>  
                <ul hidden class="dropdown">
                    <li><a href="index.html" class="list">HOME</a></li>
                    <li><a href="test.html" class="list">RESUME</a></li>
                    <li><a href="test.html" class="list">PORTFOLIO</a></li>
                    <li><a href="test.html" class="list">CONTACT</a></li>
                </ul> 
            </div>     

            
            <!-- Delete these and put content here -->
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <!--------------------------------------->
            
            
            <!-- footer -->
            <div id="footer">
                <ul class="footer">
                    <li><a target="_blank" href="https://www.youtube.com/channel/UCvboj147wiarjYmsrN7M-Ww">YOUTUBE</a></li>
                    <li><a target="_blank" href="https://www.linkedin.com/in/jeff-bulick-2a8893aa">LINKED IN</a></li>
                    <li><a target="_blank" href="https://github.com/jgb218">GITHUB</a></li>
                </ul>
            </div>
            
        </div>        
    </body>
</html>

